/********************TAG SELETORS******************/
body {background-color: #d8b9c3;}
      .content {
        max-width: 500px;
        margin: 0 auto;
      }
      hr {
      border-style:none;
      border-top-style: dotted;
      height:0px;
      border-color: #827397;
      border-width: 5px;
      width: 20%;}
      h1 {color: #363062;}
      h3 {color: #827397}
    p {color: #543864;}
    td {color: #543864;}
    th { color: #202040;}
    label {color: #543864;}
    li {color: #363062;}
/********************CLASS SELETORS******************/

.circular {border-radius: 100%;}



/********************ID SELETORS******************/